.team-discription {
    text-align: left;
}

.services-text {
        line-height: .8rem;
        color: #7d7d7d;

}

.service-box {
        box-shadow:0px 0 10px 1px #7d7d7d;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        transition: box-shadow .3s;
        transition: transform .2s; /* Zoom */
}

.service-box:hover{
    box-shadow: 0px 0 10px 1px #7d7d7d; 
    transform: scale(1.08)
}